/*
 * nodemap.css
 * Author: Niki Liu
 * Website: http://about.me/nikiliu
 */

body {
    background: #fff;
    text-transform: lowercase;
    font-family: Arial, sans-serif;
    font-size: 10px;
    font-weight: bold;
    color: #000;
}
ul.nodemap {
    list-style: none;
    display: table-row;
}
ul.nodemap > li {
    display: table-cell;
    vertical-align: top;
    padding: 2em 1em;
}
.node {
    background: #000;
    text-align: center;
    font-size: 1.3em;
    color: #fff;
    width: 5em;
    height: 3em;
    margin: 0 auto;
    padding-top: 2em;
    border-radius: 9999px;
}